[Unit]
Description=kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
#EnvironmentFile=/etc/network-environment
ExecStart=/usr/bin/kube-proxy \
        --master=https://{{groups["k8s-master"][0]}}:6443 \
        --proxy-mode=iptables \
        --logtostderr=true \
        --kubeconfig=/etc/kubernetes/kubeconfig-kubelet
Restart=always
RestartSec=10
